body{
    margin: 0;
    padding: 0;

    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

    background-image: url("/Users/douniamansouri/Desktop/menu.jpg");
    height: 2500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #cccccc;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #55d6aa;
} 
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
    width: 10%;
}
nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
     display: inline-block;
     margin-left: 70px;
     padding-top: 23px;

     position: relative;

}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top:0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width:100%;
}

.buttonAdd1 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 102%;
    left: 20%;
}

.buttonAdd2 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 125.5%;
    left: 5%;
}

.buttonAdd3 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 145%;
    left: 28%;
}
.buttonAdd4 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 168%;
    left: 24%;
}
.buttonAdd5 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 100%;
    left: 88%;
}
.buttonAdd6 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 100%;
    left: 88%;
}

.buttonAdd7 {
    position: absolute;
    display: inline-block;
    background-color: #55d6aa; 
    color: white;
    top: 118%;
    left: 68%;
}